*{
    padding: 0%;
    margin:0;   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    gap: 0.85rem;
        transition: 0.5s;

}
#mode{
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    background-color:#ff9a9e;
    padding:0.1rem;
    border: none;
    border-radius: 12px;
        transition: 0.5s;

}
.container{
    /* margin-top: 70px; */
    width:550px;
    height: 550px;
    border: none;
    border-radius: 1.2rem ;
    /* background-color: #ffdee9; */
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        transition: 0.5s;

}
.text{
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 1.1rem;
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(193, 27, 77);
}

#check{
    height: 80px;
    width: 100px;
    border:none;
    border-radius: 1.1rem;
    /* background-color: #ff4d6d; */
    background-color: #593d91;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    padding:0;
    transition: 0.5s;
}

#check:hover{
    background-color: rgb(59, 40, 111);
    transform: scale(1.05);
    cursor: pointer;
}

h2{
    margin: 1rem;
    /* color: #5a189a;
     */color: #2d1e2f;
    font-size: 1.6rem;
        transition: 0.5s;

}
@media(max-width:670px){
    body{
        overflow-x: hidden;
    }
    .container{
        width: 100%;
        height: 600px;
        margin: 1.8rem;
    }
    .text{
        width:80%;
    }

}